<!DOCTYPE html>
<html>
<style>
	body
	{
		background-image: url("https://s3.envato.com/files/175645692/Fast%20Traffic%20Street%20Road%20Night%20City_Image%20(00000).jpg");
		background-size: 100%;
	}
	.button 
	{
	    background-color: #4CAF50;
	    border: none;
	    color: white;
	    padding: 15px 32px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    margin: 4px 2px;
	    cursor: pointer;
	    font:"Impact";
	    position:relative;
	}
</style>
<body>
<center>
	<font face = "Impact" font size = "30" color = "white"> Rideshare  </font>
</center>
	<button class="button" left: 20px >View Rides</button>
	<a href="/ridepost">
		<button class="button" left: 20px >Post a Ride</button>
	</a>

</body>
</html>
